* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #f481ff, #6cdbeb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    background-color: #ffffffff;
    width: 75%;
    min-height: 80vh;
}